# Auto detect text files and perform LF normalization
* text=auto
Assets/Scenes/MainWorld.unity filter=lfs diff=lfs merge=lfs -text
lfs/objects/7d/cf/7dcf93bbb5e63c26536783a558ce85dc78b985226b3c10f2081c3ca06b056d08 filter=lfs diff=lfs merge=lfs -text