.shop-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.ability-slot-container {
    position: relative;
}

.ability-slot {
    width: 110px;
    height: 130px;
    position: absolute;
}

.ability-button {
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    font-color: white;
}

.ability-button:hover .icon {
    -unity-background-image-tint-color: rgb(167, 255, 47);
}

.label {
    font-size: 12px;
    color: white;
    -unity-text-align: middle-center;
}
